.order-type-popup {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  border-radius: 16px 16px 0 0 ;
  padding: 32px 0 40px;
  z-index: 100;
  text-align: center; 
  
  .title {
    font-size: 20px;
    font-weight: 700;
    color: $booking-color-text1;
  }
}
.type-list {
  display: flex;
  margin-top: 32px;
}
.type-item {
  flex: 1;
  // 인접형제선택자 "+" 사용해서 왼쪽에 구분선 넣기
  & + .type-item {
    border-left: 1px solid $booking-color-border103;
  }
  .icon {
    width: 100px;
    height: auto;
  }
}
.desc {
  margin-top: 8px;
  line-height: 1.5;
  color: $booking-color-text1;
  font-size: 15px;
  font-weight: 600;    
}
.btn-selection {
  display: inline-block;
  margin-top: 10px;
  padding: 6px 18px;
  font-size: 16px;
  font-weight: 700;
  border-radius: 28px;
  background-color: $booking-color-bg189;
  color: #fff;

}